<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twirl | Home</title>
</head>

<body>
    <h1>Home</h1>
    Welcome, {{ username }} <br>
    <form onsubmit="createLink(event)"> Input
        <input type="text" name="longLink" id="longLinkID">
    </form>
    <div id="responseDiv"></div>
    <div id="analyticsDiv"></div><br>
    <a href="/logout"> Log Out </a>
</body>
<script>
    async function createLink(event, ...args) {
        event.preventDefault();
        let value = document.getElementById("longLinkID").value;
        let requestObj = JSON.stringify({ originalLink: value });
        let res = await fetch('/l/shorten', { method: 'POST', headers: { "content-type": "application/json" }, body: requestObj }).then(res => res.json());
        if (res.status) {
            document.getElementById("responseDiv").innerHTML += `
            ${longLinkHref(value)} has been shortened to ${shortLinkHref(res.shortLink)} <br>
            `
        }
        else {
            console.log(`Error`);
        }

    }

    async function analyticsGenerator() {
        let resTable = await fetch('/analytics', { method: "GET", headers: { "content-type": "application/json" } })
            .then(res => res.json())
            .then(res => {
                return res.data.map(({ original_link, accessed_count, short_link, enabled }) => `
            <tr>
            <td style="text-align:center" bgcolor="#e5e5e5">${longLinkHref(original_link)} &nbsp;</td>
            <td style="text-align:center" bgcolor="#b2b2b2">${shortLinkHref(short_link)} &nbsp;</td>
            <td style="text-align:center" bgcolor="#e5e5e5">${accessed_count}</td>
            <td style="text-align:center" bgcolor="#b2b2b2"> ${enabled ? "Live" : "Disabled"} &nbsp&nbsp
                <a href="#" onclick="return updateStatus('${short_link}', ${enabled})">Click to toggle</a></td>
                </tr>
            `).join(' ');
            });
        let heading = resTable.length > 0 ? `<h2> Analytics </h2>` : "";
        let headerRow = `<tr>
            <th bgcolor="#e5e5e5">Original Link</th>
            <th bgcolor="#b2b2b2">Short Link &nbsp;</th>
            <th bgcolor="#e5e5e5">Acccesed Count &nbsp;</th>
            <th bgcolor="#b2b2b2">Action &nbsp;</th>
                </tr>`;
        document.getElementById("analyticsDiv").innerHTML = `${heading} <table> ${headerRow} ${resTable} </table>`
    };
    analyticsGenerator();
    setInterval(analyticsGenerator, 1000);

    function shortLinkHref(link) {
        let finalLink = window.location.protocol + window.location.host + link;
        return `<a href='${link}' target='_blank'> ${finalLink}<a/>`;
    }
    function longLinkHref(link) {
        let truncatedLink = link;
        if (link.length > 35) {
            truncatedLink = link.substring(0, 32) + '...';
        }
        return `<a href='${link}' target='_blank'> ${truncatedLink}<a/>`
    }
    async function updateStatus(link, currentStatus) {
        link = link.substring(3);
        if (currentStatus) {
            await fetch(`/l/disable/${link}`, { method: "GET" });
        }
        else {
            await fetch(`/l/enable/${link}`, { method: "GET" });
        }
    }

</script>

</html>